.stars-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: url('/stars.webp') 50% 50%;
  will-change: transform;
}

.constellation-container {
  width: 100%;
  height: 100%;
}

.constellation {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 100%;
}

.constellation-paths {
  width: 100%;
  height: 100%;

  path {
    fill: none;
    stroke: #fff;
    stroke-opacity: 0.8;
  }
}

.constellation-stars {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.star {
  position: absolute;
  border-radius: 50%;
  background: #fff;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    cursor: pointer;
  }

  &.active {
    outline: 2px solid rgba(#fff, 0.5);
    outline-offset: 4px;
  }
}

.glyph {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}